#about-us-page {

    .section-contact-top {
        text-align: center;
        .contact-top-photo {
            margin: 0 auto;
            max-width: 100%;
        }

        .contact-top-content {
            display: inline-block;
            margin: -163px auto 66px;
            padding: 51px 150px 30px;
            background: $gray-background;
            width: 990px;
            max-width: 100%;

            .section-title {
                margin: 0;
            }

            .contact-top-content-text {
                margin-top: 33px;
                font-size: 19px;
                font-weight: 500;
                letter-spacing: 0.3px;
                line-height: 1.6;
                color: #585858;
            }

            @media screen and (max-width: $laptop-breakpoint) {
                $scale-factor: 0.85;

                margin: -163px * $scale-factor auto 66px * $scale-factor;
                padding: 51px * $scale-factor 150px * $scale-factor 30px * $scale-factor;
                width: 990px * $scale-factor;

                .contact-top-content-text {
                    margin-top: 33px * $scale-factor;
                    font-size: 19px * $scale-factor;
                    letter-spacing: 0.3px * $scale-factor;
                }

            }

            @media screen and (max-width: $tablet-breakpoint) {
                height: auto;
                padding: 51px 13vw 30px;
                margin-top: 0;
                margin-bottom: 32px;
            }
        }
    }   

    .section-about-us-description {
        padding: 0 pxToVw(340);

        @media screen and (max-width: $tablet-breakpoint) {
            padding: 0 10vw;
        }
        @media screen and (max-width: $mobile-breakpoint) {
            padding: 0 20px;
        }

        .about-us-paragraph {
            font-size: 19px;
            color: #585858;
            font-weight: 500;
            line-height: 1.5;
            margin-bottom: 32px;
            letter-spacing: 0.4px;

            @media screen and (max-width: $small-laptop-breakpoint) {
                font-size: 16px;
            }
        }
    }
    .section-about-us-benefits {
        padding: 0 pxToVw(340);
        margin-bottom: 91px;
        
        @media screen and (max-width: $tablet-breakpoint) {
            padding: 0 10vw;
        }
        @media screen and (max-width: $mobile-breakpoint) {
            padding: 0 20px;
        }

        .benefits-title {
            font-size: 25px;
            margin-top: 93px;
            margin-bottom: 69px;
            letter-spacing: 0.2px;        
        }

        .benefit-wrapper {
            display: flex;
            margin-bottom: 36px;

            @media screen and (max-width: $mobile-breakpoint) {
                flex-direction: column;
                align-items: center;
            }

            .benefit-icon-wrapper {
                width: 60px;
                margin-right: 16px;

                @media screen and (max-width: $mobile-breakpoint) {
                    margin-bottom: 16px;
                }

                .benefit-icon {
                    margin: 5px auto;
                    align-self: flex-start;
                }
            }
            .benefit-text-wrapper {
                @media screen and (min-width: $tablet-breakpoint + 1px) {
                    max-width: calc(100% - 76px); //safari <= 9 fix
                }
                
                .benefit-title {
                    color: $green;
                    font-size: 19px;
                    margin-top: 0;
                    margin-bottom: 0;

                    @media screen and (max-width: $small-laptop-breakpoint) {
                        font-size: 16px;
                    }
                    @media screen and (max-width: $mobile-breakpoint) {
                        text-align: center;
                    }
                }
                .benefit-paragraph {
                    color: #585858;
                    font-size: 19px;
                    font-weight: 500;
                    margin-top: 14px;
                    letter-spacing: 0.4px;
                    line-height: 1.5;

                    @media screen and (max-width: $small-laptop-breakpoint) {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}