#contact-page {

    .about-us-top-content {
        display: inline-block;
        margin: -132px auto 78px;
        padding: 62px 150px 30px;
        background: $gray-background;
        width: 990px;
        max-width: 100%;
    
        .about-us-top-content-text {
            margin-top: 33px;
            font-size: 19px;
            font-weight: 500;
            letter-spacing: 0.3px;
            line-height: 1.6;
            color: #585858;
        }
    
        @media screen and (max-width: $laptop-breakpoint) {
            $scale-factor: 0.85;
    
            margin: -132px * $scale-factor auto 78px * $scale-factor;
            padding: 62px * $scale-factor 150px * $scale-factor 30px * $scale-factor;
            width: 990px * $scale-factor;
    
            .about-us-top-content-text {
                margin-top: 33px * $scale-factor;
                font-size: 19px * $scale-factor;
                letter-spacing: 0.3px * $scale-factor;
            }
    
        }
    
        @media screen and (max-width: $tablet-breakpoint) {
            height: auto;
            padding: 62px 13vw 30px;
            margin-top: 0;
        }
    }
}
