#contact-page {

    .section-contact-top {
        text-align: center;
        .contact-top-photo {
            margin: 0 auto;
            max-width: 100%;
        }

        .contact-top-content {
            display: inline-block;
            margin: -163px auto 75px;
            padding: 51px 150px 30px;
            background: $gray-background;
            width: 990px;
            max-width: 100%;

            .section-title {
                margin: 0;
            }

            .contact-top-content-text {
                margin-top: 33px;
                font-size: 19px;
                font-weight: 500;
                letter-spacing: 0.3px;
                line-height: 1.6;
                color: #585858;
            }

            @media screen and (max-width: $laptop-breakpoint) {
                $scale-factor: 0.85;

                margin: -128px auto 75px * $scale-factor;
                padding: 51px * $scale-factor 150px * $scale-factor 30px * $scale-factor;
                width: 990px * $scale-factor;

                .contact-top-content-text {
                    margin-top: 33px * $scale-factor;
                    font-size: 19px * $scale-factor;
                    letter-spacing: 0.3px * $scale-factor;
                }

            }

            @media screen and (max-width: $tablet-breakpoint) {
                height: auto;
                padding: 51px 13vw 30px;
                margin-top: 0;
                margin-bottom: 32px;
            }
        }
    }   

    .contact-icons-wrapper {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 900px;
        max-width: 90%;
        margin-bottom: 60px;

        @media screen and (max-width: $small-laptop-breakpoint) {
            // width: 1200px;
        }

        @media screen and (max-width: $tablet-breakpoint) {
            flex-direction: column;
            flex-basis: auto;
        }

        .contact-anchor {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: #767676;
            text-decoration: none;
            margin: 24px 0;
            flex-basis: 50%;

            @media screen and (max-width: $tablet-breakpoint) {
                flex-basis: auto;
            }   
            
            .contact-icon {
                margin-right: 15px;
                transition: filter $hover-transition-duration ease-in-out;
            }
            .contact-text {
                font-size: 24px;
                font-weight: 700;
                transition: color $hover-transition-duration ease-in-out;

                @media screen and (max-width: $laptop-breakpoint) {
                    font-size: 22px;
                }
                @media screen and (max-width: $small-laptop-breakpoint) {
                    font-size: 20px;
                }
                @media screen and (max-width: $mobile-breakpoint) {
                    font-size: 15px;
                }
            }

            
            &:hover {
                .contact-icon {
                    filter: brightness(0);
                }
                .contact-text {
                    color: #000000;
                }
            }
        }
    }

    .section-contact-form {
        width: 1238px;
        max-width: 90%;
        margin: 0 auto;

        @media screen and (max-width: $laptop-breakpoint) {
            width: 1000px;
        }

        @media screen and (max-width: $small-laptop-breakpoint) {
            width: 900px;
        }

        #contact-form, form {
            margin-top: 34px;

            @media screen and (max-width: $tablet-breakpoint) {
                margin-top: 44px;
            }
        

            .inputs-wrapper {
                display: flex;
                margin-bottom: 56px;

                @media screen and (max-width: $small-laptop-breakpoint) {
                    margin-bottom: 36px;
                }

                @media screen and (max-width: $tablet-breakpoint) {
                    flex-direction: column;
                    margin-bottom: 13px;
                }

                .input-wrapper {
                    width: 50%;
                    display: inline-block;

                    @media screen and (max-width: $tablet-breakpoint) {
                        width: 100%;
                        padding: 0;
                    }
                    
                    @media screen and (min-width: $tablet-breakpoint + 1px) {
                        &:nth-of-type(2n) {
                            padding-left: 20px;
                        }
                        &:nth-of-type(2n+1) {
                            padding-right: 20px;
                        }
                    }
                    
                }
            }
            .contact-label {
                display: block;
                font-size: 18px;
                color: #6a6a6a;
                margin-bottom: 13px;
                
                @media screen and (max-width: $small-laptop-breakpoint) {
                    margin-bottom: 10px;
                    font-size: 16px;
                }

                @media screen and (max-width: $tablet-breakpoint) {
                    margin-top: 13px;
                }
            }
            .contact-input {
                border: 1px solid #bdbdbd;
                width: 100%;
                font-size: 18px;
                color: #6a6a6a;
                padding: 16px 12px;

                @media screen and (max-width: $small-laptop-breakpoint) {
                    padding: 14px 10px;
                    font-size: 16px;
                }
            }
            .contact-textarea {
                resize: none;
                min-height: 298px;
                font-family: 'Montserrat', 'Helvetica', 'sans-serif';
                
                @media screen and (max-width: $small-laptop-breakpoint) {
                    min-height: 240px;
                }
            }
        }
        .contact-disclaimer, .consent-text {
            color: #6a6a6a;
            font-size: 12px;
        }
        .contact-disclaimer {
            margin-top: 30px;
            margin-bottom: 24px;
        }
        .consent-wrapper {
            display: inline;

            .checkbox-wrapper {
                display: inline-block;
                width: 18px;
                height: 18px;
                position: relative;
                border: 1px solid #bbbbbb;
                cursor: pointer;
                display: block;
    
                .checkbox {
                    opacity: 0;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    margin: 0;
                }
    
                .checkmark {
                    width: 10px;
                    height: 10px;
                    background-color: #bbbbbb;
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    opacity: 0;
                    transition: opacity 0.25s ease-in-out;
                }
    
                .checkbox:checked + .checkmark {
                    opacity: 1;
                }
            }

        }
        .consent-text {
            display: inline-block;
            width: 94%;
            margin-left: 20px;
            margin-top: 0;
            line-height: 1.6;
            margin-top: -18px; //this is becouse form plugin messes with markup
            margin-left: 40px;
        }

        .form-bottom-wrapper {
            display: flex;
            justify-content: flex-end;
            margin-top: 33px;

            .submit {
                text-transform: uppercase;
                font-size: 17px;
                font-weight: 700;
                width: 211px;
                height: 77px;
                border: none;
                outline: none;

                @media screen and (max-width: $small-laptop-breakpoint) {
                    font-size: 16px;
                    width: 180px;
                    height: 60px;
                }
            }
        }
    }

    .wpcf7-not-valid-tip {
        color: red;
    }
    .screen-reader-response {
        margin-top: 8px;
        font-weight: 700;
    }
    .wpcf7-response-output {
        margin-bottom: 18px;
        font-weight: 700;
    }
}