body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Montserrat', 'Helvetica', 'sans-serif';
}
ul.list {
    list-style: none;
    padding: 0;
}
ul:not(.list), ol:not(.list) {
    text-align: left;
}
sup {
    line-height: 0;
}
figure {
    margin: 0;
}
* {
    box-sizing: border-box;
    outline-color: $green;;
}

.title {
    position: relative;
}

.horizontal-line  {
    display: inline-block;
    width: 60px;
    border-top: 2px solid #000000;
    border-radius: 3px;
    box-shadow: 0 0 2px 0px rgba(0,0,0,0.5); 
    
    &.horizontal-line_bellow {
        position: absolute;
        left: 0;
        bottom: -40px;
        box-shadow: 0 -1px 1px 0px rgba(0,0,0,0.5); 

        @media screen and (max-width: $laptop-breakpoint) {
            $scale-factor: 0.8;
            bottom: -40px * $scale-factor;
        }
        
        @media screen and (max-width: $small-laptop-breakpoint) {
            $scale-factor: 0.667;
            bottom: -40px * $scale-factor;
        }
    }
}

.button {
    background-color: $green;
    padding: 30px 32px;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 17px;
    line-height: 1;
    letter-spacing: 1.1px;
    cursor: pointer;
    position: relative;
    
    @media screen and (max-width: $laptop-breakpoint) {
        $scale-factor: 0.8;

        padding: 30px * $scale-factor 32px * $scale-factor;
        font-size: 17px * $scale-factor;
        letter-spacing: 1.1px * $scale-factor;
    }
    
    @media screen and (max-width: $small-laptop-breakpoint) {
        $scale-factor: 0.667;

        padding: 30px * $scale-factor 32px * $scale-factor;
        font-size: 17px * $scale-factor;
        letter-spacing: 1.1px * $scale-factor;
    }
    
    .button-text {
        position: relative;
        z-index: 2;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: #000000;
        transform-origin: 0 50%;
        transform: scaleX(0);
        transition: transform $hover-transition-duration ease-in-out;
    }
    &:hover::before {
        transform: scaleX(1);
    }
}

.parallax-wrapper {
    background-attachment: fixed;
}
.page-main {
    padding-top: $header-height;
    display: block;
    
    @media screen and (max-width: $laptop-breakpoint) {
        $scale-factor: 0.8;

        padding-top: $header-height * $scale-factor;
    }

    @media screen and (max-width: $small-laptop-breakpoint) {
        $scale-factor: 0.667;

        padding-top: $header-height * $scale-factor;
    }
    @media screen and (max-width: $tablet-breakpoint) {
        $scale-factor: 0.6;

        padding-top: $header-height * $scale-factor;
    }
}
// html {
//     margin-top: 0 !important;
// }
.section-title-wrapper {
    width: 100%;
    text-align: left;
}
.section-title {
    position: relative;
    text-transform: uppercase;
    font-size: 45px;
    display: inline-block;
    font-family: 'Playfair Display', 'Tahoma', sans-serif;
    left: 50%;
    transform: translateX(-50%);

    &::before, &::after {
        content: '';
        position: absolute;
        width: 60px;
        display: inline-block;
        width: 60px;
        border-top: 2px solid #000000;
        border-radius: 3px;
        box-shadow: 0 0 2px 0px rgba(0,0,0,0.5); 
        top: 50%;
        box-sizing: border-box;
    }

    &::before {
        transform: translate(-100%, 2px) translateX(-15px);
    }
    &::after {
        transform: translate(0, 2px) translateX(15px);
        left: 100%;
    }

    @media screen and (max-width: $laptop-breakpoint) {
        $scale-factor: 0.8;

        font-size: 45px * $scale-factor;

        &::before, &::after {
            width: 60px * $scale-factor;
        }
        &::before {
            transform: translate(-100%, 2px) translateX(-15px * $scale-factor);
        }
        &::after {
            transform: translate(0, 2px) translateX(15px * $scale-factor);
        }
    }

    @media screen and (max-width: $small-laptop-breakpoint) {
        $scale-factor: 0.667;

        font-size: 45px * $scale-factor;

        
        &::before, &::after {
            width: 60px * $scale-factor;
        }
        &::before {
            transform: translate(-100%, 2px) translateX(-15px * $scale-factor);
        }
        &::after {
            transform: translate(0, 2px) translateX(15px * $scale-factor);
        }
    }

    @media screen and (max-width: $mobile-breakpoint) {
        $scale-factor: 0.45;

        font-size: 45px * $scale-factor;

        
        &::before, &::after {
            width: 60px * $scale-factor;
        }
        &::before {
            transform: translate(-100%, 2px) translateX(-15px * $scale-factor);
        }
        &::after {
            transform: translate(0, 2px) translateX(15px * $scale-factor);
        }
    }
}

body:not(.show-captcha-badge) .grecaptcha-badge {
    visibility: hidden;
}