body {
    margin: 0;
    padding: 0;
    background-color: green;
    font-family: 'Montserrat', 'Helvetica', 'sans-serif';
}
ul {
    list-style: none;
    padding: 0;
}
* {
    box-sizing: border-box;
}