#header {
    height: $header-height;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.25);

    
    .header-left, .header-right {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .header-left {
        background-color: #ffffff;
        padding-left: pxToVw(92);
        width: pxToVw(1212);

        .logo {
            margin-right: pxToVw(103);
        }
        .hamburger-wrapper {
            display: none;
            
            #hamburger {
                width: 50px;
                height: 30px;
                position: absolute;
                top: 50%;
                right: calc(#{pxToVw(92)} + 63px);
                // right: 0;
                transform: translate(50%, -50%);
                backface-visibility: hidden;
        
                .hamburger-line {
                    width: 100%;
                    height: 3px;
                    background-color: #ffffff;
                    position: absolute;
                    left: 0;
                    transition: transform 0.25s ease-in-out;
                    transform: translateY(-50%);
                    background-color: $green;
                    backface-visibility: hidden;
                }
                #hamburger-line_1 {
                    top: 0;
                    // transition-delay: 0.25s;
                }
                #hamburger-line_2 {
                    top: 50%;
                }
                #hamburger-line_3 {
                    top: 100%;
                }
            }
        }


        #navigation {
            .navigation-links-list {
                display: flex;
                padding-top: 9px;

                .navigation-links-list-item {
                    margin-right: 50px;

                    .navigation-link-anchor {
                        text-decoration: none;
                        color: #000000;
                        font-family: 'Montserrat';
                        font-weight: 600;
                        text-transform: uppercase;
                        font-size: 16px;
                        position: relative;

                        &::before {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            left: 0;
                            bottom: -9px;
                            background-color: #000000;
                            transform-origin: 0 50%;
                            transform: scaleX(0);
                            transition: transform $hover-transition-duration ease-in-out;
                        }
                        &:hover::before {
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
    }
    .header-right {
        background-color: $green;
        padding-right: pxToVw(100);
        width: pxToVw(708);
        justify-content: flex-end;

        .header-contact {
            .contact-links-list {
                display: flex;

                .contact-links-list-item {

                    &:not(:last-child) {
                        margin-right: pxToVw(37);
                    }

                    .contact-link-anchor {
                        text-decoration: none;
                        font-weight: 600;
                        text-transform: uppercase;
                        font-size: 16px;
                        display: flex;
                        align-items: center;
                        color: #ffffff;

                        .contact-icon {
                            transition: filter $hover-transition-duration ease-in-out;
                        }
                        .contact-phone-text {
                            margin-left: 13px;
                            font-weight: 700;
                            letter-spacing: 0.3px;
                            color: #ffffff;
                            transition: color $hover-transition-duration ease-in-out;
                        }

                        &:hover {

                           .contact-icon {
                                filter: invert(1);
                            }
                            .contact-phone-text {
                                color: #000000;  
                            }
                        }

                        
                    }
                }
            }
        }
    }

    &.expanded {
        #hamburger {
            #hamburger-line_1 {
                transform: translate(0, 15px) translateY(-50%) rotate(-45deg);
            }
            #hamburger-line_2 {
                transform: translateY(-50%) rotate(-45deg);
            }
            #hamburger-line_3 {
                transform: translate(0, -15px) translateY(-50%) rotate(45deg);
            }
        }
    }

    @media screen and (max-width: $laptop-breakpoint) {
        $scale-factor: 0.8;

        & {
            height: $header-height * $scale-factor;
        }

        .header-left {
            .logo {
                &, * {
                    width: 210px * $scale-factor;
                }
            }
        }
    }

    @media screen and (max-width: $small-laptop-breakpoint) {
        $scale-factor: 0.667;

        & {
            height: $header-height * $scale-factor;
        }

        .header-left {
            .logo {
                &, * {
                    width: 210px * $scale-factor;
                }
            }
        }
    }

    @media screen and (max-width: $tablet-breakpoint) {
        $scale-factor: 0.6;

        & {
            height: 86px;
            overflow: hidden;
            flex-direction: column;
            align-items: initial;
            transition: height 0.25s;
        }

        .header-left {
            width: 100%;
            align-items: flex-start;
            flex-direction: column;
            
            .logo {
                margin-top: 12px;

                &, * {
                    width: 210px * $scale-factor;
                }
            }

            #navigation {
                text-align: center;
                widtH: 100%;

                .navigation-links-list {
                    flex-direction: column;

                    .navigation-links-list-item {
                        margin-bottom: 16px;
                        margin-right: 0;
                    }
                }
            }
            .hamburger-wrapper {
                position: absolute;
                height: 86px;
                right: 0;
                display: block;
            }
        }

        .header-right {
            width: 100%;
        }
    }
}