#home-page {
    display: block; //IE doesn't recognize main element
    position: relative;
    background-image: url('/build/media/home-page-house.jpg');
    background-position: right top;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    background-size: 80%;
    
    // @media screen and (max-width: $laptop-breakpoint) {
    //     $scale-factor: 0.8;
    //     background-size: 100% * $scale-factor;
    // }
    
    // @media screen and (max-width: $tablet-breakpoint) {
    //     $scale-factor: 0.667;
    //     background-size: 100% * $scale-factor;
    // }
    
    @media screen and (max-width: $mobile-breakpoint) {
        background-size: 100%;
    }

    // .home-page-house {
    //     display: none;
    //     position: absolute;
    //     right: 0;
    //     top: -1px;
    //     z-index: -1;   

    //     &, * {
    //         max-width: 100%;
    //     }

        

    // }
    
    .home-page-content {
        background-color: $gray-background;
        max-width: 1000px;
        padding: 55px 87px;
        display: inline-block;
        position: absolute;
        // top: 198px;
        top: 50vh;
        transform: translate(0, $header-height / 2) translateY(-50%);
        letter-spacing: 1.6px;
            
        .home-page-title-predecessor {
            font-weight: 700;
            font-size: 14px;
            margin-top: 0;
            margin-bottom: 5px;
            text-transform: uppercase;
            color: #959595;
        }
        .home-page-title {
            text-transform: uppercase;
            font-family: 'Playfair Display', 'Tahoma', sans-serif;
            font-weight: 400;
            font-size: 61px;
            margin-top: 0;
            margin-bottom: 73px;
            line-height: 1;
        }
        .home-page-paragraph {
            color: #767676;
            font-size: 17px;
            margin-bottom: 41px;
            letter-spacing: 0.4px;
            max-width: 500px;
            line-height: 1.75;
        }
        .button {
            margin-left: 2px;
        }

        @media screen and (max-width: $laptop-breakpoint) {
            $scale-factor: 0.8;

            & {
                max-width: 1000px * $scale-factor;
                padding: 55px * $scale-factor 87px * $scale-factor;
                transform: translate(0, $header-height / 2) translateY(-50%);
                letter-spacing: 1.6px * $scale-factor;
            }
                
            .home-page-title-predecessor {
                font-size: 14px * $scale-factor;
                margin-bottom: 5px * $scale-factor;
            }
            .home-page-title {
                font-size: 61px * $scale-factor;
                margin-bottom: 73px * $scale-factor;
            }
            .home-page-paragraph {
                font-size: 17px * $scale-factor;
                margin-bottom: 41px * $scale-factor;
                letter-spacing: 0.4px * $scale-factor;
                max-width: 500px * $scale-factor;
                
            }
        }
        
        @media screen and (max-width: $small-laptop-breakpoint) {
            $scale-factor: 0.667;

            & {
                max-width: 1000px * $scale-factor;
                padding: 55px * $scale-factor 87px * $scale-factor;
                transform: translate(0, $header-height / 2) translateY(-50%);
                letter-spacing: 1.6px * $scale-factor;
            }
                
            .home-page-title-predecessor {
                font-size: 14px * $scale-factor;
                margin-bottom: 5px * $scale-factor;
            }
            .home-page-title {
                font-size: 61px * $scale-factor;
                margin-bottom: 73px * $scale-factor;
            }
            .home-page-paragraph {
                font-size: 17px * $scale-factor;
                margin-bottom: 41px * $scale-factor;
                letter-spacing: 0.4px * $scale-factor;
                max-width: 500px * $scale-factor;
                
            }
        }
        
        @media screen and (max-width: $mobile-breakpoint) {
            $scale-factor: 0.6;

            & {
                transform: translate(0, 43px) translateY(-50%);
                width: 92%;
                left: 4%;
                padding: 30px 25px;
            }
                
            .home-page-title-predecessor {
                font-size: 14px * $scale-factor;
                margin-bottom: 5px * $scale-factor;
            }
            .home-page-title {
                font-size: 61px * $scale-factor;
                margin-bottom: 73px * $scale-factor;
            }
            .home-page-paragraph {
                font-size: 17px * $scale-factor;
                margin-bottom: 41px * $scale-factor;
                letter-spacing: 0.4px * $scale-factor;
                max-width: 500px * $scale-factor;
                
            }
        }
    }

}