#home-page {
    position: relative;
    
    .home-page-house {
        position: absolute;
        right: 0;
        top: -1px;
        z-index: -1;   

        &, * {
            max-width: 100%;
        }

    }
    
    .home-page-content {
        background-color: $gray-background;
        max-width: 1000px;
        padding: 55px 87px;
        display: inline-block;
        position: absolute;
        top: 198px;
        // top: 50vh;
        // transform: translate(0, -$header-height / 2) translateY(-50%);
        letter-spacing: 1.6px;
            
        .home-page-title-predecessor {
            font-weight: 700;
            font-size: 14px;
            margin-top: 0;
            margin-bottom: 5px;
            text-transform: uppercase;
            color: #959595;
        }
        .home-page-title {
            text-transform: uppercase;
            font-family: 'Playfair Display', 'Tahoma', sans-serif;
            font-weight: 400;
            font-size: 61px;
            margin-top: 0;
            margin-bottom: 73px;
            line-height: 1;
        }
        .home-page-paragraph {
            color: #767676;
            font-size: 17px;
            margin-bottom: 41px;
            letter-spacing: 0.4px;
            max-width: 500px;
            line-height: 1.75;
        }
        .button {
            margin-left: 2px;
        }
    }
}