#house-page {
    .section-about-us-top {
        text-align: center;
        .about-us-top-photo {
            // height: 358px;
            // background-image: url('/build/media/about-us-parallax-house.jpg');
            // background-size: 100% auto;
            // background-position: top;
            // background-repeat: no-repeat;

            // @media screen and (max-width: 991px) {
            //     background-size: auto 440px;
            // }
            margin: 0 auto;
            max-width: 100%;
        }

        .about-us-top-content {
            display: inline-block;
            margin: -132px auto 78px;
            padding: 62px 150px 30px;
            background: $gray-background;
            width: 990px;
            max-width: 100%;

            .about-us-top-content-text {
                margin-top: 33px;
                font-size: 19px;
                font-weight: 500;
                letter-spacing: 0.3px;
                line-height: 1.6;
                color: #585858;
            }

            @media screen and (max-width: $laptop-breakpoint) {
                $scale-factor: 0.85;

                margin: -132px * $scale-factor auto 78px * $scale-factor;
                padding: 62px * $scale-factor 150px * $scale-factor 30px * $scale-factor;
                width: 990px * $scale-factor;

                .about-us-top-content-text {
                    margin-top: 33px * $scale-factor;
                    font-size: 19px * $scale-factor;
                    letter-spacing: 0.3px * $scale-factor;
                }

            }

            @media screen and (max-width: $tablet-breakpoint) {
                height: auto;
                padding: 62px 13vw 30px;
                margin-top: 0;
            }
        }

        .about-us-top-features {
            padding: 0px 16.6vw;
            
            @media screen and (max-width: $small-laptop-breakpoint) {
                padding: 0px 13vw;
            }

            @media screen and (max-width: $tablet-breakpoint) {
                padding: 0px 10vw;
            }

            .about-us-top-features-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 0;

                .about-us-feature {
                    width: 20%;
                    margin-bottom: 64px;
                    display: flex;
                    justify-content: center;

                    .about-us-feature-figure {
                        margin: 0;

                        .feature-icon-wrapper {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            align-items: center;
                            height: 100px;
                            margin-bottom: 25px;
                        }

                        .feature-icon-text {
                            font-size: 21px;
                            color: #767676;
                        }
                    }

                    @media screen and (max-width: $small-laptop-breakpoint) {
                        .about-us-feature-figure {
                            margin: 0;
    
                            .feature-icon-wrapper {
                                margin-bottom: 15px;

                                .feature-icon {
                                    transform: scale(0.667);
                                }
                            }
    
                            .feature-icon-text {
                                font-size: 16px;
                            }
                        }
                    }

                    @media screen and (max-width: $tablet-breakpoint) {
                        width: 33.3%;

                        .about-us-feature-figure {
                            .feature-icon-text {
                                font-size: 16px;
                            }
                        }
                    }
                    @media screen and (max-width: $mobile-breakpoint) {
                        width: 50%;

                        .about-us-feature-figure {
                            .feature-icon-text {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }

    .section-about-us-download-plan {
        text-align: center;
        padding-top: 16px;

        .download-plan-house {
            display: block;

            &, & * {
                max-width: 100%;
            }
        }
        .download-plan-anchor {
            margin: 0 8px;
            transform: translateY(-50%);
            display: inline-block;

            .download-plan-button {
                // transform: translateY(-50%);
                position: relative;
                padding-right: 95px;
                letter-spacing: 0.6px;
    
                .download-icon {
                    position: absolute;
                    right: -58px;
                    top: 50%;
                    transform: translateY(-59%);

                    @media screen and (max-width: $laptop-breakpoint) {
                        $scale-factor: 0.8;
                        height: 32px * $scale-factor;
                    }

                    @media screen and (max-width: $small-laptop-breakpoint) {
                        $scale-factor: 0.667;
                        height: 32px * $scale-factor;
                    }
                }
                @media screen and (max-width: $mobile-breakpoint) {
                    margin-top: 8px;
                }
            }
        }
    }

    .section-about-us-interior {
        width: 1496px;
        max-width: $container-max-width;
        margin: 0 auto;
        padding-top: 31px;
        
        @media screen and (max-width: $small-laptop-breakpoint) {
            $scale-factor: 0.8;
            padding-top: 31px * $scale-factor;   
        }
        
        @media screen and (max-width: $mobile-breakpoint) {
            $scale-factor: 0.667;
            padding-top: 31px * $scale-factor;    
        }

        .section-title {
            
        }
        .about-us-interior-figure {
            display: flex;
            margin-top: 90px;
            margin-bottom: 63px;
            max-width: 100%;
            
            &:nth-child(2n) {
                flex-direction: row-reverse;
                margin-bottom: 155px;

                .interior-content {
                    margin-top: 45px;
                    margin-bottom: -45px;
                    margin-right: -87px;
                    margin-left: 0;
                    padding: 40px 140px 35px 96px;
                }
            }
            
            .about-us-interior-photo {
                &, * {
                    position: relative;
                    z-index: 1;
                    max-width: 50vw;
                }
            }
            
            .interior-content {
                padding: 90px 96px 35px 184px;
                background-color: #f8f8f8;
                margin-right: 0;
                margin-left: -87px;
                margin-top: -45px;
                margin-bottom: 45px;

                .interior-content-title {
                    position: relative;
                    font-size: 36px;
                    font-family: 'Playfair Display', 'Tahoma', sans-serif;
                    text-transform: uppercase;
                    margin-top: 9px;
                    margin-bottom: 76px;
                }

                .interior-content-paragraph {
                    font-size: 19px;
                    line-height: 1.6;
                    letter-spacing: 0.5px;
                    font-weight: 500;
                    color: #585858;
                }
            }

            @media screen and (max-width: $laptop-breakpoint) {
                $scale-factor: 0.8;

                .interior-content {

                    .interior-content-title {
                        font-size: 36px * $scale-factor;
                        margin-top: 9px * $scale-factor;
                        margin-bottom: 76px * $scale-factor;
                    }
    
                    .interior-content-paragraph {
                        font-size: 19px * $scale-factor;
                        letter-spacing: 0.5px * $scale-factor;
                    }
                }
            }

            @media screen and (max-width: $small-laptop-breakpoint) {
                $scale-factor: 0.667;
                .about-us-interior-photo {
                    &, * {
                        position: relative;
                        z-index: 1;
                        max-width: 53.5vw;
                    }
                }
                .interior-content {
                    padding-top: 66px;
                    .interior-content-title {
                        font-size: 36px * $scale-factor;
                        margin-top: 9px * $scale-factor;
                        margin-bottom: 76px * $scale-factor;
                    }
    
                    .interior-content-paragraph {
                        font-size: 19px * $scale-factor;
                        letter-spacing: 0.5px * $scale-factor;
                    }
                }
            }

            @media screen and (max-width: $tablet-breakpoint) {
                $scale-factor: 0.6;

                &, &:nth-child(2n) {
                    flex-direction: column;

                    margin-top: 90px * $scale-factor;
                    margin-bottom: 63px * $scale-factor;

                    .about-us-interior-photo {
                        &, * {
                            max-width: 100%;
                            text-align: center;
                        }
                    }
                    .interior-content {
                        margin: 0;
                        width: 100%;
                        padding: 40px 10vw;
                    }
                }
            }
        }
    }

    .section-about-us-architecture {
        text-align: center;
        padding-top: 16px;

        .section-title {
            margin-bottom: 102px;

            @media screen and (max-width: $small-laptop-breakpoint) {
                $scale-factor: 0.8;
                margin-bottom: 102px * $scale-factor;   
            }
            
            @media screen and (max-width: $mobile-breakpoint) {
                $scale-factor: 0.667;
                margin-bottom: 102px * $scale-factor;    
            }
        }

        .about-us-architecture-house {
            display: block;
            
            &, & * {
                max-width: 100%;
            }
        }

        .about-us-architecture-content {
            display: inline-block;
            margin: -176px auto 59px;
            padding: 62px 150px 30px;
            background: $gray-background;
            width: 990px;
            max-width: 100%;

            .about-us-architecture-content-text {
                margin-top: 33px;
                font-size: 19px;
                font-weight: 500;
                letter-spacing: 0.3px;
                line-height: 1.6;
                color: #585858;

                @media screen and (max-width: $small-laptop-breakpoint) {
                    $scale-factor: 0.8;
                    font-size: 19px * $scale-factor;
                    letter-spacing: 0.3px * $scale-factor;
                }
    
                @media screen and (max-width: $mobile-breakpoint) {
                    $scale-factor: 0.667;
                    font-size: 19px * $scale-factor;
                    letter-spacing: 0.3px * $scale-factor;
                }
            }

            @media screen and (max-width: $laptop-breakpoint) {
                $scale-factor: 0.8;
                margin-top: -176px * $scale-factor;
            }

            @media screen and (max-width: $small-laptop-breakpoint) {
                $scale-factor: 0.667;
                margin-top: -176px * $scale-factor;
            }

            @media screen and (max-width: $tablet-breakpoint) {
                margin-top: 0;
                height: auto;
                padding: 62px 13vw 30px;
            }
        }

        .about-us-architecture-features {
            padding: 0 15.7vw 0 17.3vw;

            .about-us-architecture-features-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 0;

                .about-us-feature {
                    width: 25%;
                    margin-bottom: 24px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;

                    .about-us-feature-figure {
                        margin: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .feature-icon-wrapper {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            height: 100px;
                            margin-right: 9px;
                        }

                        .feature-icon-text {
                            font-size: 21px;
                            color: #767676;
                            text-align: left;
                        }
                    }

                }
            }

            @media screen and (max-width: $laptop-breakpoint) {
                padding: 0px 10vw;
            }

            @media screen and (max-width: $small-laptop-breakpoint) {
                .about-us-architecture-features-list {
                    .about-us-feature {
                        width: 33.33%;

                        .about-us-feature-figure {

                            .feature-icon-text {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: $tablet-breakpoint) {
                padding: 0px 5vw;

                .about-us-architecture-features-list {
                    .about-us-feature {
                        width: 50%;

                        .about-us-feature-figure {
                            .feature-icon-text {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
            @media screen and (max-width: $mobile-breakpoint) {
                .about-us-architecture-features-list {
                    .about-us-feature {
                        justify-content: center;
                        .about-us-feature-figure {
                            flex-direction: column;

                            .feature-icon-text {
                                text-align: center;
                            }
                        }
                    }
                }      
            }

        }
    }

    .section-about-us-energy-saving {
        background-color: $gray-background;
        margin-top: 64px;
        padding-top: 54px;
        padding-bottom: 40px;

        .about-us-energy-saving-paragraph {
            font-size: 19px;
            font-weight: 500;
            letter-spacing: 0.3px;
            line-height: 1.6;
            color: #585858;
            text-align: center;
            margin-top: 51px;
            margin-bottom: 51px;
            padding: 0 25vw;

            @media screen and (max-width: $small-laptop-breakpoint) {
                $scale-factor: 0.8;
                font-size: 19px * $scale-factor;
                letter-spacing: 0.3px * $scale-factor;
                margin-top: 51px * $scale-factor;
                margin-bottom: 51px * $scale-factor;   
                padding: 0 25vw * $scale-factor;   
            }

            @media screen and (max-width: $mobile-breakpoint) {
                $scale-factor: 0.667;
                font-size: 19px * $scale-factor;
                letter-spacing: 0.3px * $scale-factor;
                margin-top: 51px * $scale-factor;
                margin-bottom: 51px * $scale-factor;  
                padding: 0 25vw * $scale-factor;    
            }
        }

        .about-us-energy-saving-features {
            padding: 0px 14.3vw;

            .about-us-energy-saving-features-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 0;

                .about-us-feature {
                    width: 25%;
                    margin-bottom: 64px;
                    display: flex;
                    justify-content: center;

                    .about-us-feature-figure {
                        margin: 0;

                        .feature-icon-wrapper {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            align-items: center;
                            height: 100px;
                            margin-bottom: 25px;
                        }

                        .feature-icon-text {
                            font-size: 21px;
                            color: #767676;
                            text-align: center;
                        }
                    }
                }
            }

            @media screen and (max-width: $laptop-breakpoint) {
                padding: 0px 10vw;
            }

            @media screen and (max-width: $small-laptop-breakpoint) {
                .about-us-energy-saving-features-list {
                    .about-us-feature {
                        .about-us-feature-figure {
                            margin: 0;

                            .feature-icon-text {
                                font-size: 16px;
                            }
    
                            .feature-icon-wrapper {
                                margin-bottom: 15px;

                                .feature-icon {
                                    transform: scale(0.6667);
                                }
                            }
                        }

                    }
                }
            }

            @media screen and (max-width: $tablet-breakpoint) {
                padding: 0px 5vw;

                .about-us-energy-saving-features-list {
                    .about-us-feature {
                        width: 50%;
                    }
                }
            }
            @media screen and (max-width: $mobile-breakpoint) {
                .about-us-energy-saving-features-list {
                    .about-us-feature {
                        justify-content: center;
                        .about-us-feature-figure {
                            flex-direction: column;

                            .feature-icon-text {
                                text-align: center;
                            }
                        }
                    }
                }      
            }
        }
    }

    .section-about-us-location {
        width: 1496px;
        max-width: $container-max-width;
        margin: 0 auto;

        @media screen and (max-width: $mobile-breakpoint) {
            max-width: 100%;
        }

        .section-title {
            margin-top: 91px;
            margin-bottom: 53px;

            @media screen and (max-width: $small-laptop-breakpoint) {
                $scale-factor: 0.8;
                margin-top: 91px * $scale-factor;
                margin-bottom: 53px * $scale-factor;
            }

            @media screen and (max-width: $mobile-breakpoint) {
                $scale-factor: 0.667;
                margin-top: 91px * $scale-factor;
                margin-bottom: 53px * $scale-factor;  
            }
        }

        .about-us-location-paragraph {
            font-size: 19px;
            font-weight: 500;
            letter-spacing: 0.3px;
            line-height: 1.6;
            color: #585858;
            text-align: center;
            margin-bottom: 82px;
            padding: 0 20vw;
            
            @media screen and (max-width: $small-laptop-breakpoint) {
                $scale-factor: 0.8;
                font-size: 19px * $scale-factor;
                letter-spacing: 0.3px * $scale-factor;
                margin-bottom: 82px * $scale-factor;
                padding: 0 20vw * $scale-factor;   
            }

            @media screen and (max-width: $mobile-breakpoint) {
                $scale-factor: 0.667;
                font-size: 19px * $scale-factor;
                letter-spacing: 0.3px * $scale-factor; 
                margin-bottom: 82px * $scale-factor;
                padding: 0 20vw * $scale-factor;    
            }
        }

        .map-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .map-left {
                width: 40%;
                .map-list {
                    margin-top: -27px;

                    .map-list-item {
                        max-width: 460px;
                        height: 80px;
                        display: flex;
                        align-items: center;
                        font-size: 21px;
                        letter-spacing: 0.6px;
                        color: #767676;
                        transition: color $hover-transition-duration ease-in-out;
                        cursor: pointer;

                        b {
                            pointer-events: none;
                        }

                        &:hover {
                            color: #14c557;
                        }

                        &:not(:last-of-type) {
                            border-bottom: 1px solid #969696;
                        }
                    }
                }
            }
            .map-right {
                width: 60%;

                .mapouter, .gmap_canvas, #gmap_canvas {
                    width: 100%;
                    height: 100%;
                }
                #gmap_canvas {
                    filter: grayscale(1);
                }
            }

            @media screen and (max-width: $laptop-breakpoint) {
                $scale-factor: 0.8;
                .map-left {

                    .map-list {
                        margin-top: -27px * $scale-factor;

                        .map-list-item {
                            max-width: 460px * $scale-factor;
                            height: 80px * $scale-factor;
                            font-size: 21px * $scale-factor;
                            letter-spacing: 0.6px * $scale-factor;
                        }
                    }
                }
            }

            @media screen and (max-width: $small-laptop-breakpoint) {
                $scale-factor: 0.667;

                .map-left {

                    .map-list {
                        margin-top: -27px * $scale-factor;

                        .map-list-item {
                            max-width: 460px * $scale-factor;
                            height: 80px * $scale-factor;
                            font-size: 21px * $scale-factor;
                            letter-spacing: 0.6px * $scale-factor;
                        }
                    }
                }
            }

            @media screen and (max-width: $tablet-breakpoint) {
                $scale-factor: 0.667;

                flex-direction: column;
                justify-content: flex-start;

                .map-left, .map-right {
                    width: 100%;
                }
                .map-left {
                    padding: 0 15px;
                }
                .map-right {
                    height: 600px;
                }
            }
        }
    }

    .section-about-us-functions {
        width: 1496px;
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;

        .section-title {
            margin-top: 57px;
            margin-bottom: 50px;

            @media screen and (max-width: $small-laptop-breakpoint) {
                $scale-factor: 0.8;
                margin-top: 57px * $scale-factor;
                margin-bottom: 50px * $scale-factor;
            }

            @media screen and (max-width: $mobile-breakpoint) {
                $scale-factor: 0.667;
                margin-top: 57px * $scale-factor;
                margin-bottom: 50px * $scale-factor;
            }
        }

        .about-us-functions-paragraph {
            max-width: 900px;
            text-align: center;
            margin: 0 auto 87px;
            font-size: 19px;
            font-weight: 500;
            letter-spacing: 0.3px;
            line-height: 1.6;
            color: #585858;

            @media screen and (max-width: $small-laptop-breakpoint) {
                $scale-factor: 0.8;
                font-size: 19px * $scale-factor;
                letter-spacing: 0.3px * $scale-factor;
                margin-bottom: 87px * $scale-factor;
            }

            @media screen and (max-width: $mobile-breakpoint) {
                $scale-factor: 0.667;
                font-size: 19px * $scale-factor;
                letter-spacing: 0.3px * $scale-factor;
                margin-bottom: 87px * $scale-factor;
            }
        }

        .slider-and-date-wrapper {
            width: 1240px;
            max-width: 85%;
            margin: 0 auto;
            margin-bottom: 82px;

            @media screen and (max-width: $small-laptop-breakpoint) {
                $scale-factor: 0.8;
                width: 1240px * $scale-factor;
                margin-bottom: 82px * $scale-factor;
            }

            @media screen and (max-width: $tablet-breakpoint) {
                $scale-factor: 0.667;
                width: 1240px * $scale-factor;
                margin-bottom: 82px * $scale-factor;
            }
        }
        .slider-wrapper {
            position: relative;
            margin: 0 -22px;

            .slider-arrow {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                z-index: 10;

                &.slider-arrow_left {
                    left: -100px;
                }
                &.slider-arrow_right {
                    right: -100px;
                }

                @media screen and (max-width: $small-laptop-breakpoint) {
                    $scale-factor: 0.667;

                    top: 40%;
                    width: 30px * $scale-factor;
                    &.slider-arrow_left {
                        left: -100px * $scale-factor;
                    }
                    &.slider-arrow_right {
                        right: -100px * $scale-factor;
                    }
                }
    
                @media screen and (max-width: $tablet-breakpoint) {
                    $scale-factor: 0.6;

                    top: 45%;
                    width: 30px * $scale-factor;
                    &.slider-arrow_left {
                        left: -40px;
                    }
                    &.slider-arrow_right {
                        right: -40px;
                    }
                }
    
                @media screen and (max-width: $mobile-breakpoint) {
                    $scale-factor: 0.5;

                    top: 50%;
                    width: 30px * $scale-factor;
                    &.slider-arrow_left {
                        left: -5px;
                    }
                    &.slider-arrow_right {
                        right: -5px;
                    }
                }
                @media screen and (max-width: 440px) {
                    top: 45%;
                }
                @media screen and (max-width: 360px) {
                    top: 40%;
                }
            }

            // .slick-arrow {
            //     display: none !important;
            // }

            .slider-slides {
                height: 255px;

                &:not(.slick-initialized) .slide-wrapper:nth-of-type(n+4) {
                    display: none;
                }

                .slick-slide {
                    outline: none;
                }
            }

            .slide-wrapper {
                display: inline-block;
                position: relative;
                cursor: pointer;
                padding: 0 22px;

                &::before, &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 22px;
                    width: calc(100% - 44px);
                    height: 100%;
                    opacity: 0;
                    transition: opacity $hover-transition-duration;
                }

                &::before {
                    z-index: 1;
                    height: 100%;
                    background-color: #000000;
                }
                &::after {
                    z-index: 2;
                    background-image:  url('/build/media/plus.png');
                    background-position: center;
                    background-repeat: no-repeat;
                }

                &:hover {
                    &::before {
                        opacity: 0.63;
                    } 
                    &::after {
                        opacity: 1;
                    }
                }

            //     .slide-image {
            //         width: 100%;
            //     }
                .slide-crop {
                    overflow: hidden;
                    position: relative;

                    .slide-image {
                        height: 100%;
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
        
        .about-us-functions-dates {
            background-color: $gray-background;
            height: 209px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-top: 86px;
            padding: 0 80px;

            @media screen and (max-width: $small-laptop-breakpoint) {
                $scale-factor: 0.8;
                padding: 0 80px * $scale-factor;
            }

            @media screen and (max-width: $tablet-breakpoint) {
                flex-direction: column;
            }

            @media screen and (max-width: $mobile-breakpoint) {
                padding: 0 5vw;
            }

            .left, .right {
                display: flex;
                align-items: center;

                .dates-icon {
                    margin-right: 10px;
                }

                .dates-text {
                    font-size: 21px;
                    font-weight: 700;
                    letter-spacing: 0.3px;
                    line-height: 1.6;
                    color: #585858;

                    @media screen and (max-width: $small-laptop-breakpoint) {
                        $scale-factor: 0.8;
                        font-size: 21px * $scale-factor;
                        letter-spacing: 0.3px * $scale-factor;
                    }
        
                    @media screen and (max-width: $mobile-breakpoint) {
                        $scale-factor: 0.6;
                        font-size: 21px * $scale-factor;
                        letter-spacing: 0.3px * $scale-factor;
                    }
                }

            }
        }
    }
}

.about-us-footer {
    background-color: $green;
    color: #ffffff;
    padding-top: 32px;
    padding-bottom: 155px;
    
    .footer-title {
        position: relative;
        text-transform: uppercase;
        font-size: 45px;
        text-align: center;
        font-family: 'Playfair Display', 'Tahoma', sans-serif;

        &::before, &::after {
            content: '';
            position: absolute;
            width: 60px;
            display: inline-block;
            width: 60px;
            border-top: 2px solid #ffffff;
            border-radius: 3px;
            box-shadow: 0 0 2px 0px rgba(255,255,255,0.5); 
            top: 50%;
            box-sizing: border-box;
        }

        &::before {
            transform: translate(-100%, 2px) translateX(-15px);
        }
        &::after {
            transform: translate(0, 2px) translateX(15px);
        }
    }

    .footer-text {
        text-align: center;
        font-size: 19px;
        font-weight: 500;
    }

    .footer-contact-wrapper {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 850px;
        max-width: 100%;

        .footer-contact-anchor {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            text-decoration: none;
            
            .footer-contact-icon {
                margin-right: 15px;
            }
            .footer-contact-text {
                font-size: 27px;
                font-weight: 700;
            }
        }

        @media screen and (max-width: $tablet-breakpoint) {
            flex-direction: column;
        }
    }

    @media screen and (max-width: $laptop-breakpoint) {
        $scale-factor: 0.8;

        padding-top: 32px * $scale-factor;
        padding-bottom: 155px * $scale-factor;
        
        .footer-title {
            font-size: 45px * $scale-factor;

            &::before, &::after {
                width: 60px * $scale-factor;
            }
            &::before {
                transform: translate(-100%, 2px) translateX(-15px * $scale-factor);
            }
            &::after {
                transform: translate(0, 2px) translateX(15px * $scale-factor);
            }
        }

        .footer-text {
            font-size: 19px * $scale-factor;
        }

        .footer-contact-wrapper {
            width: 850px * $scale-factor;

            .footer-contact-anchor {
                .footer-contact-icon {
                    margin-right: 15px * $scale-factor;
                }
                .footer-contact-text {
                    font-size: 27px * $scale-factor;
                }
            }
        }
    }

    @media screen and (max-width: $small-laptop-breakpoint) {
        $scale-factor: 0.667;  
        
        padding-top: 32px * $scale-factor;
        padding-bottom: 155px * $scale-factor;
        
        .footer-title {
            font-size: 45px * $scale-factor;

            &::before, &::after {
                width: 60px * $scale-factor;
            }
            &::before {
                transform: translate(-100%, 2px) translateX(-15px * $scale-factor);
            }
            &::after {
                transform: translate(0, 2px) translateX(15px * $scale-factor);
            }
        }

        .footer-text {
            font-size: 19px * $scale-factor;
        }

        .footer-contact-wrapper {
            width: 850px * $scale-factor;

            .footer-contact-anchor {
                .footer-contact-icon {
                    margin-right: 15px * $scale-factor;
                }
                .footer-contact-text {
                    font-size: 27px * $scale-factor;
                }
            }
        }
    }

    @media screen and (max-width: $tablet-breakpoint) {
        $scale-factor: 0.6;  
        
        padding-top: 32px * $scale-factor;
        padding-bottom: 155px * $scale-factor;
        
        .footer-title {
            font-size: 45px * $scale-factor;

            &::before, &::after {
                width: 60px * $scale-factor;
            }
            &::before {
                transform: translate(-100%, 2px) translateX(-15px * $scale-factor);
            }
            &::after {
                transform: translate(0, 2px) translateX(15px * $scale-factor);
            }
        }

        .footer-text {
            font-size: 19px * $scale-factor;
        }

        .footer-contact-wrapper {
            width: 850px * $scale-factor;

            .footer-contact-anchor {
                margin: 12px 0; 
                .footer-contact-icon {
                    margin-right: 15px * $scale-factor;
                }
                .footer-contact-text {
                    font-size: 27px * $scale-factor;
                }
            }
        }
    }

    @media screen and (max-width: $tablet-breakpoint) {
        $scale-factor: 0.5;  
        
        padding-top: 32px * $scale-factor;
        padding-bottom: 155px * $scale-factor;
        
        .footer-title {
            font-size: 45px * $scale-factor * 0.8;

            &::before, &::after {
                width: 60px * $scale-factor;
            }
            &::before {
                transform: translate(-100%, 2px) translateX(-15px * $scale-factor * 0.8);
            }
            &::after {
                transform: translate(0, 2px) translateX(15px * $scale-factor * 0.8);
            }
        }

        .footer-text {
            font-size: 19px * $scale-factor;
        }

        .footer-contact-wrapper {
            width: 850px * $scale-factor;

            .footer-contact-anchor {
                margin: 12px 0; 
                .footer-contact-icon {
                    margin-right: 15px * $scale-factor;
                }
                .footer-contact-text {
                    font-size: 27px * $scale-factor;
                }
            }
        }
    }
}

#photo-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 200;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease-in-out;

    #popup-image {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 90%;
    }

    &.show {
        opacity: 1;
        pointer-events: initial;
    }
}
