$green: #09c350;
$gray-background: #f8f8f8;

$header-height: 142px;
$hover-transition-duration: 0.35s;

$laptop-breakpoint: 1600px;
$small-laptop-breakpoint: 1400px;
$tablet-breakpoint: 1024px;
$mobile-breakpoint: 600px;